{% extends 'base.html' %}

{% block title %}備蓄編集{% endblock %}

{% block content %}
    <h1>備蓄編集</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash-message {{ category }}">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('main.edit_stockpile') }}" method="POST">
        <div>
            <label for="shelter_id">避難所:</label>
            <select name="shelter_id">
                {% for shelter in shelters %}
                    <option value="{{ shelter.id }}">{{ shelter.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="stockpile_amount">備蓄量:</label>
            <input type="number" name="stockpile_amount" required>
        </div>
        <button type="submit">備蓄情報を更新</button>
    </form>
{% endblock %}
